<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">

    <div class="alert alert-warning" role="alert" th:if="${account == null}" style="margin-top: 20px">
        냉장고를 사용하시려면 <a th:href="@{/login}" class="alert-link">로그인</a>을 해주세요.
    </div>

    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}" style="margin-top: 20px">
        가입을 완료하려면 <a th:href="@{/checkConfirmMail}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>

    <div class="row align-items-start" th:if="${account != null && account.emailVerified}">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/}" style="margin:5px;" class="nav-link text-primary">대시보드</a>
                            <a th:href="@{/nengjanggo}" style="margin:5px;" class="nav-link text-primary">내 냉장고</a>
                            <a th:href="@{/overview}" style="margin:5px;" class="nav-link active">오버뷰</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-4">
            <canvas id="myPieChart" height="50" width="50"></canvas>
            <script>
                var chartData = "[[${foodCategories}]]"
            </script>
        </div>

        <div class="col-md-4">
            <canvas id="myPieChart2" height="50" width="50"></canvas>
            <script>
                var brandChartData = "[[${foodBrands}]]"
            </script>
        </div>
        <div id="overview">

            <div class="overview overflow-auto">
                <div style="min-width: 600px">

                        <div class="col company-details">
                            <h2 class="name">
                                <a target="_blank" th:href="@{/nengjanggo}" th:text="${account.nickname} + '님의 서머리입니다.' ">
                                </a>
                            </h2>
                            <div th:text="${account.email}"></div>
                        </div>
                        <hr>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-left">TOPIC</th>
                                <th class="text-right">갯수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="no">01</td>
                                <td class="text-left">
                                <h3 th:text="${account.nickname} + '님이 가장 선호하시는 브랜드는' + ${favoriteBrand.get(0).getBrandName()} + '입니다.'"></h3>

                                    <a target="_blank" th:href="@{/favoriteFoodBrandProduct/{brandName} (brandName=${favoriteBrand.get(0).getBrandName()})}" th:text="${favoriteBrand.get(0).getBrandName()}"></a>
                                     상품들 보기!
                                </td>
                                <td class="unit" th:text="${favoriteBrand.get(0).getFoodQuantity()} + '개 입니다.'">1개</td>

                            </tr>
                            <tr>
                                <td class="no">02</td>
                                <td class="text-left">
                                    <h3>kdm30 님의 음식중 유통기한이 만료된 음식 갯수는</h3>
                                    <a th:href="@{/expiredFoodList}">유통기한 만료된 음식목록 보기</a>
                                </td>
                                <td class="unit" th:text="${numberOfExpiredFood} + '개 입니다.'"></td>

                            </tr>
                            <tr>
                                <td class="no">03</td>
                                <td class="text-left">
                                    <h3>총 등록된 음식의 수는</h3>
                                    <a th:href="@{/nengjanggo}">전체 목록보기</a>
                                </td>
                                <td class="unit" th:text="${numberOfAllFoodList} + '개 입니다.'"></td>

                            </tr>

                            </tbody>
                        </table>


                </div>
                <div></div>
            </div>
        </div>



</div>
<script type="text/javascript" th:src="@{js/myChart.js}"></script>
<script type="text/javascript" th:src="@{js/myChart2.js}"></script>
<div th:replace="layout/footer::footer"></div>
</body>
</html>